doctype html 
html
  head
    title Radhikah Dance Academy 
    block scripts 
    block style
  body
    nav#navbar
        ul 
            div#logo 
                img(src="/static/img/Logo1.png")
                | RDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/ContactUs") Contact Us]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
    block content
    footer#Footer
        | Copyright © 2022 RadhikahDanceAcademy.com | All rights reserved